In [21]:
import pandas as pd
df = pd.read_excel('Data Analyst Test.xlsx', sheet_name=2,shuffle=False)
df.head()
# df['Date'] =pd.to_datetime(df.Date)
# df=df.drop(df.index[338:])
# label=df['Likes']

,Life Stage,Life Stage.1,Categories,Post Name,Word Count,Reach,Link Clicks,Avg time in secs,GA read more clicked on post
0,2y-4y|4y+,NaN,Parenting,How to Teach Your Boys to Become Great Men,1166.0,35953,1023,62,570
1,0m-6m|7m-12m,NaN,Health,Home Remedies to Treat Heat Rash in Babies,614.0,30299,532,86,293
2,-9,NaN,Pregnant,Is It Safe To Get Waxed During Pregnancy?,599.0,38459,978,56,528
3,4y+,NaN,Parenting,Parenting Adult Children| How to keep the Bond...,1111.0,21302,372,81,180
4,7m-12m|1y-2y|2y-4y|4y+,NaN,Activities,Top 10 Kids’ Play Areas in Delhi,1220.0,12453,423,79,306

In [22]:
# import matplotlib.pyplot as plt
# plt.plot(df['GA read more clicked on post'], df['Word Count'],marker='o',linestyle = 'None',)
# plt.xlabel('GA read more clicked on post')
# plt.ylabel('Word Count')
# plt.show()
# plt.plot(df['GA read more clicked on post'], df['Reach'],marker='o',linestyle = 'None',)
# plt.xlabel('GA read more clicked on post')
# plt.ylabel('Reach')
# plt.show()
# plt.plot(df['GA read more clicked on post'],df['Link Clicks'] ,marker='o',linestyle = 'None',)
# plt.xlabel('GA read more clicked on post')
# plt.ylabel('Link Clicks')
# plt.show()
# plt.plot(df['GA read more clicked on post'], df['Avg time in secs'],marker='o',linestyle = 'None',)
# plt.xlabel('GA read more clicked on post')
# plt.ylabel('Avg time in secs')
# plt.show()

In [23]:
df.drop(['Life Stage','Life Stage.1','Post Name','Word Count','Reach', 'Link Clicks','Avg time in secs'], axis=1, inplace=True)

In [24]:
df.head()

   Categories  GA read more clicked on post
0   Parenting                           570
1      Health                           293
2    Pregnant                           528
3   Parenting                           180
4  Activities                           306

In [25]:
df= df.groupby('Categories')['GA read more clicked on post'].mean()#[pd.Grouper(key='Categories'), 'content type']).sum()

# df.groupby('a')['b'].sum()[1]

Categories
Activities            306.000000
Babycare              474.142857
Development           489.400000
Health                293.000000
Health & Hygiene      128.000000
Health and Hygiene    805.500000
Lactation             617.333333
Nutrition             433.000000
Parenting             415.888889
Pregnant              822.625000
celebrity             904.000000
Name: GA read more clicked on post, dtype: float64

In [27]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
 
objects = df['Categories']
y_pos = np.arange(len(objects))
performance = [10,8,6,4,2,1]
 
plt.bar(y_pos, performance, align='center', alpha=0.5)
plt.xticks(y_pos, objects)
plt.ylabel('Usage')
plt.title('Programming language usage')
 
plt.show()

KeyError: 'Categories'