In [1]:
import pandas as pd
df = pd.read_excel('Data Analyst Test.xlsx', sheet_name=1,header=1,shuffle=False)
df['Date'] =pd.to_datetime(df.Date)
df=df.sort_values(by='Date').reset_index()
df['rm']=0
# df.drop(['Date'], axis=1, inplace=True)
df.drop(['Engaged users','reach','impressions'], axis=1, inplace=True)
print df

     index       Date  Likes  rm
0       22 2015-01-12    127   0
1       23 2015-02-12    153   0
2       24 2015-03-12    139   0
3       25 2015-04-12    126   0
4       26 2015-05-12     39   0
5       27 2015-06-12     59   0
6       28 2015-07-12     64   0
7       29 2015-08-12     45   0
8        0 2015-09-11     45   0
9       30 2015-09-12     24   0
10       1 2015-10-11    105   0
11      31 2015-10-12     26   0
12       2 2015-11-11    137   0
13      32 2015-11-12     15   0
14       4 2015-11-13    148   0
15       5 2015-11-14    119   0
16       6 2015-11-15    112   0
17       7 2015-11-16    121   0
18       8 2015-11-17    126   0
19       9 2015-11-18    133   0
20      10 2015-11-19    140   0
21      11 2015-11-20    105   0
22      12 2015-11-21     91   0
23      13 2015-11-22    108   0
24      14 2015-11-23    102   0
25      15 2015-11-24    130   0
26      16 2015-11-25    100   0
27      17 2015-11-26     99   0
28      18 2015-11-27    115   0
29      19 2015-11-28     93   0
..     ...        ...    ...  ..
509    482 2017-05-03    651   0
510    513 2017-05-04    840   0
511    424 2017-06-01     65   0
512    455 2017-06-02     22   0
513    483 2017-06-03    676   0
514    514 2017-06-04    930   0
515    425 2017-07-01     39   0
516    456 2017-07-02     58   0
517    484 2017-07-03    641   0
518    515 2017-07-04    844   0
519    426 2017-08-01     34   0
520    457 2017-08-02     82   0
521    485 2017-08-03    617   0
522    516 2017-08-04    781   0
523    427 2017-09-01     28   0
524    458 2017-09-02    142   0
525    486 2017-09-03    592   0
526    517 2017-09-04    822   0
527    428 2017-10-01     51   0
528    459 2017-10-02     92   0
529    487 2017-10-03    603   0
530    518 2017-10-04    593   0
531    429 2017-11-01    124   0
532    460 2017-11-02    181   0
533    488 2017-11-03    503   0
534    519 2017-11-04    230   0
535    430 2017-12-01     86   0
536    461 2017-12-02    253   0
537    489 2017-12-03    457   0
538    520 2017-12-04    224   0

[539 rows x 4 columns]

In [4]:
df['rm'][0]=df['Likes'][0]
for i in range(1,len(df['rm'])):
    k=i-1
    sum=df['Likes'][i]    
    while k>=0 and (df['Date'][i]-df['Date'][k]).days<31:
        sum=sum+df['Likes'][k]
        k=k-1
    df['rm'][i]=sum/(i-k)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
df

     index       Date  Likes   rm
0       22 2015-01-12    127  127
1       23 2015-02-12    153  153
2       24 2015-03-12    139  146
3       25 2015-04-12    126  126
4       26 2015-05-12     39   82
5       27 2015-06-12     59   59
6       28 2015-07-12     64   61
7       29 2015-08-12     45   45
8        0 2015-09-11     45   45
9       30 2015-09-12     24   34
10       1 2015-10-11    105   58
11      31 2015-10-12     26   51
12       2 2015-11-11    137   81
13      32 2015-11-12     15   76
14       4 2015-11-13    148  100
15       5 2015-11-14    119  104
16       6 2015-11-15    112  106
17       7 2015-11-16    121  108
18       8 2015-11-17    126  111
19       9 2015-11-18    133  113
20      10 2015-11-19    140  116
21      11 2015-11-20    105  115
22      12 2015-11-21     91  113
23      13 2015-11-22    108  112
24      14 2015-11-23    102  112
25      15 2015-11-24    130  113
26      16 2015-11-25    100  112
27      17 2015-11-26     99  111
28      18 2015-11-27    115  111
29      19 2015-11-28     93  110
..     ...        ...    ...  ...
509    482 2017-05-03    651  188
510    513 2017-05-04    840  202
511    424 2017-06-01     65  394
512    455 2017-06-02     22  394
513    483 2017-06-03    676  400
514    514 2017-06-04    930  423
515    425 2017-07-01     39  346
516    456 2017-07-02     58  345
517    484 2017-07-03    641  468
518    515 2017-07-04    844  502
519    426 2017-08-01     34  394
520    457 2017-08-02     82  400
521    485 2017-08-03    617  394
522    516 2017-08-04    781  378
523    427 2017-09-01     28  377
524    458 2017-09-02    142  392
525    486 2017-09-03    592  385
526    517 2017-09-04    822  396
527    428 2017-10-01     51  327
528    459 2017-10-02     92  339
529    487 2017-10-03    603  432
530    518 2017-10-04    593  432
531    429 2017-11-01    124  353
532    460 2017-11-02    181  375
533    488 2017-11-03    503  350
534    519 2017-11-04    230  259
535    430 2017-12-01     86  224
536    461 2017-12-02    253  250
537    489 2017-12-03    457  305
538    520 2017-12-04    224  250

[539 rows x 4 columns]